
ul, li, * {
	margin: 0; padding: 0;
}

body {
	font-family: 'Lucida Grande', 'Arial';
	font-size: 14px;
	background: white;
}

ul { margin: 0 0 0 30px; }
ul li { margin: 0 0 10px 0px; }

h1, h2, h3, h4, h5, h6 { margin: 0 0 15px 0; color: #06588c; }
h1 { color: #06588c; font-size: 2.5em; }
h2 { color: #555; font-size: 2.0em; }

p { margin: 0 0 15px 0; line-height: 22px; }
ul { margin: 0 0 15px 30px;}
li { margin: 0 0 5px 0; }


a { color: #06588c; text-decoration: none; }
a:hover { text-decoration: underline; }

