body {
	background: url('../images/body_background.jpg');
}

#back_to_top_link {
	position: fixed; top: 5px; left: 50%; background: #eee;
	display: none;
	margin-left: 340px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}
	#back_to_top_link a { padding: 5px 10px; display: table; }

#global {
	width: 960px;
	margin: 0 auto;
	background: #fafafa;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
	color: #333;
	margin-bottom: 25px;
	margin-top: 15px;
	
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	overflow: hidden;
}


/* header */

	#header { min-height: 25px; clear: both; background: #f1f0f0; display: table; width: 100%; margin: 0; padding: 0; }
		#header .logo { list-style: none; float: left; }
		#header .logo a { margin: 17px 15px 0px 15px; display: table; }

	#navigation {
		float: right;
		padding: 30px;
	}
		#navigation ul { list-style: none; }
		#navigation ul li { display: inline; margin: 0 0 0 20px; }
		#navigation ul li a { text-decoration: none; }
		#navigation ul li a:hover { text-decoration: underline; }


/* main_page */

	#merchan { 
		display: table; width: 100%; text-shadow: 1px 1px white;
		background: #fafafa;
		padding: 15px 0 15px 0;
		border-bottom: 1px solid #eaeaea;
	}

		#merchan .text { float: left; width: 370px; margin: 5px 0 0 15px; }
			#merchan .text li { color: #06588c; }
			#merchan .text li span { color: #222; }

		#merchan .image { float: right; width: 555px; margin: 10px 0 0 15px; }

/* download */

	#download {
		background: #eee;
		border-top: 1px solid #f5f5f5;
		border-bottom: 1px solid #e3e3e3;
	}
	#download .get_aust { width: 960px; display: table; clear: both; }
		#download .get_aust_container { margin: 0 15px; display: table; width: 930px; }
		
		#download .get_aust .news { float: left; width: 700px; }
		#download .get_aust .download {
			float: right; width: 230px; text-align: center; font-size: 0.8em;
			color: #888;
		}

	#download .download a.download_button {
		background: url('../images/download_button.png') no-repeat;
		text-align: center;
		margin: 0 auto;
		margin-bottom: 3px;
		width: 151px;
		height: 48px;
		display: table;
	}
		#download .download a.download_button:hover { background-position: 0 -48px; }

/* main page sections */

.main_section {
	background: #f5f5f5;
	width: 100%; display: table; padding: 15px 0 0 0;
	text-shadow: 1px 1px #fdfdfd;
	border-bottom: 1px solid #e3e3e3;
	border-top: 1px solid #fff;
}
	.main_section .section_header { margin: 0 0 35px 0 !important; text-align: center; }
	.main_section .section_header h2 {
		margin: 0 0 0 0 !important; text-shadow: 2px 2px white !important;
	}
	.main_section .section_header p { font-size: 0.9em; }

.main_section .main_section_container {
	margin: 15px; width: 930px; display: table;
}

/* main page - features */

	#features { background: #f4f4f4; }
		#features h2 { margin: 0 0 25px 0; text-align: center; }

		#features .features_line { display: table; }

		#features .feature { width: 445px; margin: 0 10px 15px 0px; float: left; }

		#features .feature .image { width: 120px; margin: 0 10px 0 0; float: left; text-align: center; }
		#features .feature .image span { margin-top: 25px; font-size: 4em; font-style: italic; color: #e3e3e3; }
		#features .feature .text { width: 315px; margin: 0 0px 0 0; float: left; }
		#features .feature .text .header { font-weight: bold; margin: 0 0 2px 0; color: #078DE4; }

/* main page - features */
	
	#documentation h3 { margin: 0; font-weight: normal; }
	#documentation ul { list-style: none; margin: 0 auto; margin-top: 20px; margin: 20px 10px; }
	#documentation ul li { color: #777; }
	
/* main page - collaborate */
	
	#collaborate .items { margin: 0 auto; display: table; }
	#collaborate .item { text-align: left; float: left; width: 180px; }
	#collaborate .item .item_container { text-align: center; }
	

/* inside pages */

	.body_content {
		margin: 10px;
		display: table;
		width: 940px;
		clear: both;
		font-size: 12px;
	}

/* book */

	#book .chapter_title { color: #999; }

	#book h2 { color: #06588c; font-size: 2em; font-weight: normal; }
	#book h3 { font-weight: bold; }
	#book a { text-decoration: underline; }
	#book a:hover { text-decoration: none; }
	

	#book .img {
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
		border-radius: 10px;
		overflow: hidden;
		padding: 0;
		margin: 0 0 15px 0;
		font-size: 0;
		-moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
	}
		#book .img img { margin: 0; padding: 0; }

		#book .img.left { float: left; margin-right: 10px; }
		#book .img.right { float: right; margin-left: 10px; }
		#book .img.center { display: table; margin-left: auto; margin-right: auto; }
	
	.indentation { margin: 0 0 15px 0; }
	.indent { margin: 0 0 5px 25px; }
	
	.side_explanation {
		float: right;
		display: inline;
		background: #f2f2f2;
		padding: 10px;
		margin: 0 0 15px 25px;
		width: 250px;
		border: 1px solid #e8e8e8;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
	}
		.side_explanation h2 { font-size: 1.2em !important; margin: 15px 0 5px 0; }
		.side_explanation h2:first-child { margin-top: 0; }
		.side_explanation h3 { font-size: 1.1em !important; margin: 0 0 5px 0; }
		.side_explanation p { font-size: 1em; color: #888; margin: 0 0 5px 0; }
		.side_explanation p:last-child { margin: 0; }
	
/* footer */
	
	.footer_container { margin: 15px; text-align: center; font-size: 0.9em; color: #aaa; }
	.footer_container a { color: #ccc; text-decoration: underline; }
	

