<div id="book">
	<div class="content">

		<div class="chapter_title">Capítulo 2</div>
		<h1>Como instalar e usar o Aust pela primeira vez</h1>
		
		<div class="side_explanation">
			<h2>Dica</h2>
			<p>
				O Aust é instalado no servidor assim com Wordpress ou Joomla.
			</p>
		</div>
		<p>
			Comece fazendo o download do Aust e colocando-o em um diretório do seu servidor.
		</p>
		<p>
			Crie um banco de dados ('aust', por exemplo). Renomeie o arquivo config/database.sample.php para config/database.php e configure a sua conexão.
		</p>
		<p>
			Acesse o Aust no seu navegador (ex.: http://localhost/aust). Sem você perceber, o Aust vai instalar todas as tabelas necessárias e pedir que você configure um usuário.
		</p>
		<p>
			Você será levado à tela de login. Após entrar no Aust
		</p>

		<p>
			oijaosid 2
		</p>
		<p>
			oijaosid 2
		</p>
		<p>
			oijaosid 2
		</p>
		<p>
			oijaosid 2
		</p>
	</div>
</div>