<div id="merchan">
	
	<div class="merchan_container">
		<div class="text">
			<h1>
				Conheça o Aust
			</h1>
			<p>
				O Aust é um CMS com foco no conteúdo e no usuário.
				Tenha liberdade total no desenvolvimento.
			</p>
			<p>
				<ul>
					<li>
						<span>Gerencimento de múltiplos sites</span>
					</li>
					<li>
						<span>Site principal acessa conteúdos via API JSON</span>
					</li>
					<li>
						<span>Sem framework de desenvolvimento (crie sites livremente em Ruby, PHP, Python ou outros)</span>
					</li>
					<li>
						<span>Módulos para diferentes tipos de conteúdo: textos, vídeos, imagens, arquivos, agenda, entre outros</span>
					</li>
					<li>
						<span>Design focado no cliente leigo</span>
					</li>
					<li>
						<span>Funciona normalmente em hospedagens compartilhadas (PHP 5.2+)</span>
					</li>
				</ul>
			</p>
		</div>
		
		<div class="image">
			<%= image_tag 'merchan_aust.png' %>
		</div>

		<div class="get_aust">
			<div class="get_aust_container">
			<div class="news">
				news
			</div>
			<div class="download">
				<%= link_to image_tag('download_button.png'), '' %>
				<br>
				Beta
			</div>
			</div>
		</div>
		
	</div>
	
	
</div>

<!--
Wordpress, Joomla, Drupal, entre outros,
possuem um painel administrativo (CMS)
e um framework (front-end) que você precisa usar. 
O Aust não, ele é um CMS apenas, desacoplado da
sua página principal, entregando conteúdo através de uma API
-->
<div id="features">
	<div class="features_container">
		
		<h2>
			Os 10 motivos para usar
		</h2>
		<div class="features_line">
			<div class="feature">
				<div class="feature_container">
					<div class="image">
						<span>1</span>
					</div>
					<div class="text">
						<div class="header">
							Baixe e use gratuitamente
						</div>
						<div class="content">
							<p>
							Instale em um diretório no seu servidor. Não é necessário
							reconstruir sites antigos para integrá-los com o Aust.
							</p>
						</div>
					</div>
				</div>
			</div>
		
			<div class="feature">
				<div class="feature_container">
					<div class="image">
						<span>6</span>
					</div>
					<div class="text">
						<div class="header">
							Módulo FlexibleFields
						</div>
						<div class="content">
							<p>
							Com ele, construa formulários com os campos
							que você quiser, como cadastro de pessoas ou produtos.
							</p>
						</div>
					</div>
				</div>
			</div>

		</div>

		<div class="features_line">
			<div class="feature">
				<div class="feature_container">
					<div class="image">
						<span>2</span>
					</div>
					<div class="text">
						<div class="header">
							Múltiplos sites
						</div>
						<div class="content">
							<p>
							O Aust gerencia múltiplos sites
							em um só lugar. Ideal para hospedar seus
							clientes num só lugar.
							</p>
						</div>
					</div>
				</div>
			</div>

			<div class="feature">
				<div class="feature_container">
					<div class="image">
						<span>7</span>
					</div>
					<div class="text">
						<div class="header">
							xxBaixe gratuitamente
						</div>
						<div class="content">
							<p>
							xxx
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="features_line">

			<div class="feature">
				<div class="feature_container">
					<div class="image">
						<span>3</span>
					</div>
					<div class="text">
						<div class="header">
							Conteúdo via API
						</div>
						<div class="content">
							<p>
							O site principal carrega conteúdos através de
							uma API JSON. Gerencie tudo através da interface
							do Aust.
							</p>
						</div>
					</div>
				</div>
			</div>

			<div class="feature">
				<div class="feature_container">
					<div class="image">
						<span>8</span>
					</div>
					<div class="text">
						<div class="header">
							Pessoas e Permissões
						</div>
						<div class="content">			
							<p>
							O painel de controle do Aust possui ACL. Seu cliente pode
							criar colaboradores e moderadores sem o desenvolvedor.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="features_line">

			<div class="feature">
				<div class="feature_container">
					<div class="image">
						<span>4</span>
					</div>
					<div class="text">
						<div class="header">
							Desacoplado, porém integrado
						</div>
						<div class="content">
							<p>
								Não é um framework de desenvolvimento de sites. 
								Com a API JSON, páginas podem ser criadas 
								em PHP, Ruby, Python ou outros.
							</p>
						</div>
					</div>
				</div>
			</div>
			
			<div class="feature">
				<div class="feature_container">
					<div class="image">
						<span>9</span>
					</div>
					<div class="text">
						<div class="header">
							Atualizações Seguras com Migrations 
						</div>
						<div class="content">
							<p>
							Com o sistema de <em>migrations</em>, as atualizações 
							são automáticas e não quebram versões anteriores nem a API.
							</p>
						</div>
					</div>
				</div>
			</div>


		</div>

		<div class="features_line">
			<div class="feature">
				<div class="feature_container">
					<div class="image">
						<span>5</span>
					</div>
					<div class="text">
						<div class="header">
							Módulo para diversas finalidades
						</div>
						<div class="content">
							<p>
							Textos, imagens,
							vídeos, arquivos, agenda de compromissos,
							carrinho de compras, entre outros.
							</p>
						</div>
					</div>
				</div>
			</div>
			
		<div class="feature">
			<div class="feature_container">
				<div class="image">
					<span>10</span>
				</div>
				<div class="text">
					<div class="header">
						Construído sobre sólidos fundamentos 
					</div>
					<div class="content">
						<p>
						Core e módulos em MVC. Mais de 1.000 <em>assertions</em>.
						Isto é muito convidativo aos novos colaboradores.
						</p>
					</div>
				</div>
			</div>
		</div>

		</div>
		
		<div class="features_line">


		</div>


	</div>
</div>
